{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="lectern">
<head>
  <title>dashboard</title>
  <meta charset="utf-8" />
  
  <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


         <style type="text/css">
             
             
             
             .top-buffer { margin-top:80px; }
         </style>
  

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
</head>

<body>


 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Lectern</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<!--- /.navbar --->    
 
<div class="container-fluid">
	<div class="row">
		<div class="top-buffer">
		</div>
	</div>

  <canvas id="myChart" width="600" height="400"></canvas>

  <script>
    $(document).ready(function() {
      var ctx = $("#myChart").get(0).getContext("2d");

      var data = {
        labels: [1, 2, 3, 4, 5, 6, 7],
        datasets: [
          {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
          },
          {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
          }
        ]
      };

      var myLineChart = new Chart(ctx).Line(data);

      var window_focus = true;

      $(window).focus(function() {
          window_focus = true;
      }).blur(function() {
          window_focus = false;
      });

      i = data.labels.length;
      setInterval(function() {
        if (window_focus) {
          i++
          $.ajax({
              url: "/dashboard_data",
              type: "GET",

              success: function(json) {
                if (myLineChart.datasets[0].points.length >= 10) {
                  myLineChart.removeData();
                }
                myLineChart.addData([json.data[0], json.data[1]], i);
              },
          });
        }
      }, 1500);

    });
  </script>
  
  
  <div class="s-col-6">
    <img src="http://i.imgur.com/RExrysD.png">
    
  </div>

</body>
</html>