<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8" />
    <title>Lectern - Student</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
    
<body>

    <form action="Presses" method="post">
        <button name="green_button" value=1>I Get It</button> 
        <br>
        <button name="red_button" value=0>I Don't Get It</button> 
    </form>

    <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-success">I Get It</button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-danger">I Don't Get It</button>
    </div>
    <div class="col-sm-4">
      <h3>How it works</h3>        
      <p>Let your professor know how class is going by tapping one of the buttons.</p>
      <p>All responses are anonmyous.</p>
    </div>
  </div>
</div>

</body>
</html> 